@import '../../sass/responsive.scss';

.drop-down {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;

  select {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #234ef8;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #234ef8;
    padding: 12.5px;
    padding-right: 35px;

    @include mobile {
      font-size: 16px;
    }
  }

  .arrow {
    width: 12px;
    z-index: -1;
    position: absolute;
    margin-top: -4px;
    top: 50%;
    right: 12.5px;
  }
}
