@import '../../../sass/responsive.scss';

.form-element {
  display: inline-block;
  margin: 10px 0;

  @include mobile {
    display: block;
    & .input {
      width: 100%;
    }
  }

  .label {
    font-weight: 500;
    margin-bottom: 7px;
    font-size: 14px;
    color: #8b959c;
  }

  .error-container {
    z-index: 1;
    background: #f72121;
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
    max-width: 250px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 28px 2px rgba(0, 0, 0, 0.2);

    ul {
      list-style: inside;
      padding-left: 10px;

      li {
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #f72121;
    }

    @include mobile {
      position: static;
      transform: none;
      max-width: 100%;
      background: transparent;
      box-shadow: none;
      color: #f72121;
      font-size: 10px;
      padding: 0;
      display: block;

      &:before {
        display: none;
      }

      ul {
        padding-left: 5px;
      }
    }
  }

  &.error {
    .label:after {
      content: '❌';
      font-size: 11px;
      display: inline-block;
      margin-left: 5px;
    }

    .input {
      border-color: #f72121;
    }

    &:hover {
      .error-container {
        display: block;
      }
    }
  }
}
