@import '../../sass/responsive.scss';

.menu-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 30px;
  padding-top: 60px;
  background: #224ff7;
  min-width: 235px;
  color: #fff;
  box-shadow: 0 0 28px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 300ms;

  .close-btn {
    display: none;
  }

  @include tablet {
    transform: translate3d(100%, 0, 0);

    .close-btn {
      display: block;
      position: absolute;
      right: 30px;
      top: 20px;
      padding: 5px;
    }
  }

  @include mobile {
    left: 0;
  }

  &.visible {
    transform: translate3d(0, 0, 0);
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  nav li {
    margin-bottom: 5px;

    a {
      font-size: 20px;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      padding: 8px 5px;
    }

    &:hover a,
    a.active {
      background: #fff;
      color: #224ff7;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.separated {
      margin-top: 60px;

      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background: #fff;
        margin-bottom: 10px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 22px;

      .version {
        font-weight: 400;
        font-size: 12px;
        padding-left: 4px;
      }
    }

    h3 {
      font-size: 9px;

      .team {
        font-size: 11px;
        font-weight: 500;
      }
    }
  }
}
