@import '../../sass/responsive.scss';

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

.input {
  border-radius: 2px;
  border: 1px solid #234ef8;
  padding: 12.5px;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #234ef8;
  box-sizing: border-box;
  box-shadow: none;
  appearance: none;

  &[disabled] {
    background-color: #efefef;
    border-color: #d0d0d0;
    color: #d0d0d0;
  }

  @include placeholder {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6384fe;
  }

  @include mobile {
    font-size: 16px;
    padding: 14px;

    @include placeholder {
      font-size: 16px;
    }
  }
}
