@import '../../sass/responsive.scss';

.header {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 10px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-button {
      margin-left: -20px;
      margin-right: 5px;
      padding-top: 10px;
      visibility: hidden;
      z-index: -1;

      &.visible {
        visibility: visible;
        z-index: inherit;
      }
    }
  }

  .menu-btn {
    display: none;

    @include tablet {
      display: block;
    }
  }

  @include mobile {
    .left {
      .back-button img {
        height: 21px;
      }

      h1 {
        font-size: 20px;
        line-height: 21px;
      }
    }
  }
}
