@import '../../sass/responsive.scss';

.header {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 10px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .menu-btn {
    display: none;

    @include tablet {
      display: block;
    }
  }
}
