.checkbox-container {
  cursor: pointer;
  user-select: none;

  input {
    visibility: hidden;
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
  }

  .label {
    margin-left: 5px;
  }

  .checkbox {
    border: 1px solid #224ff7;
    background: transparent;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms;

    img {
      opacity: 0;
    }

    &.checked {
      background: #224ff7;

      img {
        opacity: 1;
      }
    }
  }
}
